<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./accommodation.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="accommodation_image"></div>
            <div class="accommodation_content">
                <div class="accommodation_title"></div>
                <div class="accommodation_information"></div>
                <div class="accommodation_date"></div>
                <div class="date_button"></div>
            </div>
        </header>
        <section class="section_contianer">
        	<c:forEach items="${roomlist}" var="room">
            <div class="room_review_tab"></div>
            <div class="room_view">
                <div class="room_image"></div>
                <div class="room_number"></div>
                <div class="room_infomation"></div>
                <div class="room_price"></div>
                <div class="room_infomation_button"></div>
                <div class="review_button"></div>
            </div>
            </c:forEach>
        </section> 
    </div>
    
    
    
    <c:forEach items="${roomlist}" var="room">
            <tr>
                <td><a href="/stay/room/detail_of_detail?ac_id=${room.ac_id}&ro_type=${room.ro_type}"><c:out value="${room.ro_type}" /></a></td>
                <td><c:out value="${room.ac_id}" /></td>
                <td><c:out value="${room.ro_name}" /></td>
                <td><c:out value="${room.ro_basic_count}" /></td>
                <td><c:out value="${room.ro_max_count}" /></td>
                <td><c:out value="${room.ro_info}" /></td>
                <td><c:out value="${room.ro_count}" /></td>
            </tr>
        </c:forEach>

</body>
</html>