<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./accommodation.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="accommodation_image"></div>
            <div class="accommodation_content">
                <div class="accommodation_title"></div>
                <div class="accommodation_information"></div>
                <div class="accommodation_date"></div>
                <div class="date_button"></div>
            </div>
        </header>
        <section class="section_contianer">
            <div class="room_review_tab"></div>
            <div class="room_view">
                <div class="room_image"></div>
                <div class="room_number"></div>
                <div class="room_infomation"></div>
                <div class="room_price"></div>
                <div class="room_infomation_button"></div>
                <div class="review_button"></div>
            </div>
        </section> 
    </div>
    

</body>
</html>